:host {
  display: block;

  width: 100%;
  height: 100vh;

  overflow: hidden;
}


.app-layout {
  display: grid;

  grid-template-columns: 390px 1fr;

  width: 100%;
  height: 100%;

  background: #ece5dd;
}


/* =========================================
   SIDEBAR
========================================= */

app-sidebar {
  width: 390px;
  height: 100%;

  border-right: 1px solid #ddd;

  background: #ffffff;

  overflow: hidden;
}


/* =========================================
   CHAT WINDOW
========================================= */

app-chat-window {
  display: flex;

  width: 100%;
  height: 100%;

  overflow: hidden;
}


/* =========================================
   TABLET
========================================= */

@media (max-width: 900px) {

  .app-layout {
    grid-template-columns: 350px 1fr;
  }

  app-sidebar {
    width: 350px;
  }

}


/* =========================================
   MOBILE
========================================= */

@media (max-width: 700px) {

  .app-layout {
    display: block;

    position: relative;

    width: 100%;
    height: 100vh;
  }


  /* CHAT LIST */

  app-sidebar {
    display: block;

    width: 100%;
    height: 100%;

    border-right: none;
  }


  /* CHAT WINDOW HIDDEN INITIALLY */

  app-chat-window {
    display: none;

    width: 100%;
    height: 100%;
  }


  /* =========================================
     WHEN A CHAT IS SELECTED
  ========================================== */

  .app-layout.mobile-chat-open app-sidebar {
    display: none;
  }


  .app-layout.mobile-chat-open app-chat-window {
    display: flex;
  }

}